* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}
#flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}

#date {
    position: absolute;
    top: 20px;
    letter-spacing: 5px;
    font-size: 20px;
}

.hero {
    width: 800px;
    height: 180px ;
    position: relative;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    width: 100%;
    height:100%
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left:  50%;
    transform: translate(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#mins::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}


@media (max-width: 600px) {
    .clock span {
        font-size: 30px;
        width: 50px;
        display: inline-block;
        text-align: center;
        position: relative;
        bottom: 2%;
    }
    
    .clock span::after {
        font-size: 20px;
        position: absolute;
        top: 60px;
        left:  90%;
        transform: translate(-50%);
    }

    #flex-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, #08001f, #30197d);
        color: #fff;
        position: relative;
    }
    
    #date {
        position: absolute;
        top: 10%;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 600;
    }
    
    .hero {
        width: 90%;
        height: 30% ;
        position: relative;
    }
    
    .clock {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        border-radius: 20px;
        backdrop-filter: blur(40px);
        width: 100%;
        height:100%
    }
}


    
        







/* max 600px / min 601/ min 768 / min 992 / min 1200  */
/* @media (max-width: 600px) {
    #flex-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, #08001f, #8c8897);
        color: #fff;
        position: relative;
    }
}

@media (min-width: 601px) {

}

@media (min-width: 768) {

}
*/